/* HEADER */
.header-wrapper{
    border-bottom: 1px solid #555;
    margin-bottom: 100px;
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar-left{
    width: 180px;
    height: 76px;
 
}
.navbar-icon-image{
    width: 100%;
    height: 100%;
}

.navbar-btn-drop-list{
    display: flex;
    justify-content: center;
    position: relative;
    
}
.navbar-btn-drop-item{
    margin-right: 6px;
    box-sizing: border-box;
    
   
}
.navbar-btn-drop-item:hover .navbar-icon-drop{
    display: none ;
}
.element-item{
    margin-right: 8px;
    
}
.Manager1:hover .fake-list-1{
    display: block;
}
.Manager2:hover .fake-list-2{
    display: block;
}
.Manager3:hover .fake-list-3{
    display: block;
}
.Manager4:hover .fake-list-4{
    display: block;
}




.fake-list-1{
    display: none;
    top: 32px;
    left: 0;
    width: 100%;
    
}
.fake-list-2{
    top: 32px;
   
}
.fake-list-3{
    top: 30px;
    
    left: 50%;
   
}
.fake-list-4{
    top: 30px;
    left: 75%;
   
    
}

.fake-list{
    position: absolute;
    min-width: 40px;
    min-height: 60px;
    top: 88%;
    width: 74%;
    background-color: #15a59994;
    z-index: 1;
    display: none;
}
.fake-list::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 3px;
    top: 6%;
    margin-top: -6px;
    left: 84px;
    border: solid 8px transparent;
    border-top-color: #FFF;
    z-index: 1;
}
.select-item{
    width: 100%;
    padding: 2px;
  
}
.select-item:hover{
    opacity: 50%;
    cursor: pointer;
    background-color: #fff;
}
.background-login-image{
   width: 45px;
   height: 45px;
   background-size: cover;
   border-radius: 50%;
}
.background-login-image:hover{
    cursor: pointer;
}
.backgropund-login-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navbar-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* MAIN */
.main__content{

}
.main__content--title{
    font-size: 30px;
    margin: 20px 8px;
    font-weight: bold;
}
.main__content--filter{
    display: flex;
    padding-left: 20px;
    gap: 20px;
}
.content__filter--group{
    display: flex;
    align-items: center;  
}
.content__filter-title{
    font-weight: 600;
}
.table__show{
    width: 100%;
}
.table__show--heading .table__line--item{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}
.table__show--body .tabel__body--line:nth-child(odd){
    background-color: #f3f3f3;
}
.table__show--body .table__line--item{
    vertical-align: middle;
    padding: 8px 0;
    text-align: center;
}
.show__item--img{
    width: 100px;
    height: 25px;
}
/* Pagination */
.page__pagination{
    margin-left: 16px;
}
.page__pagination--list{
    display: flex;
    align-items: center;
    gap: 10px;
   
}
.pagination__item--link{
    text-decoration: none;
    color:black;
}
/* FOOTER */
.footer-wrapper{
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 100px;
    position: relative;

}
.inner-footer{
    width: 100%;
    position: absolute;
    top: 26%;
    left: 0;
    right: 0;
    margin: auto;
}
.footer-left{

}
.footer-left-btn-grouph{
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-link-text{
    padding: 8px 8px;
}
.footer-link-text{

}
.footer-link-text{

}
.footer-right{

}
.footer-right-text{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
}
.name-idx-team{
    color: rgb(4, 255, 0);
    font-weight: 400;
}
.footer-right-link-text{
    text-decoration: none;
}
.footer-right-link-text:hover{
    cursor: pointer;
    opacity: 50%;
}