/* HEADER */
.header-wrapper{
    border-bottom: 1px solid #555;
}
.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar-left{
    width: 180px;
    height: 76px;
 
}
.navbar-icon-image{
    width: 100%;
    height: 100%;
}

.navbar-btn-drop-list{
    display: flex;
    justify-content: center;
    position: relative;
}
.navbar-btn-drop-item{
    margin-right: 3px;
    
   
}
.element-item{
    margin-right: 3px;
}
.Manager1:hover .fake-list-1{
    display: block;
}
.Manager2:hover .fake-list-2{
    display: block;
}
.Manager3:hover .fake-list-3{
    display: block;
}
.Manager4:hover .fake-list-4{
    display: block;
}
.navbar-right{

}



.fake-list-1{
    display: none;
    top: 32px;
    left: 0;
    width: 100%;
    
}
.fake-list-2{
    top: 32px;
   
}
.fake-list-3{
    top: 30px;
    
    left: 50%;
   
}
.fake-list-4{
    top: 30px;
    left: 75%;
   
    
}
.fake-list{
    position: absolute;
    min-width: 40px;
    min-height: 60px;
    top: 90%;
    width: 74%;
    background-color: #369933cb;
    display: none;
}
.select-item{
    width: 100%;
   
  
}
.select-item:hover{
    opacity: 50%;
    cursor: pointer;
    background-color: #fff;
}
/* MAIN */
/* FOOTER */
.footer-wrapper{
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 100px;
    position: relative;

}
.inner-footer{
    width: 100%;
    position: absolute;
    top: 26%;
    left: 0;
    right: 0;
    margin: auto;
}
.footer-left{

}
.footer-left-btn-grouph{
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-link-text{
    padding: 8px 8px;
}
.footer-link-text{

}
.footer-link-text{

}
.footer-right{

}
.footer-right-text{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
}
.name-idx-team{
    color: rgb(4, 255, 0);
    font-weight: 400;
}
.footer-right-link-text{
    text-decoration: none;
}
.footer-right-link-text:hover{
    cursor: pointer;
    opacity: 50%;
}