:root{
    --primary-color:#fff;
<<<<<<< HEAD
    --secondary-color:#15a599;
    --secondary-color-blur:#b7e3df;
    --secondary-color-button-no-hover:#e7faf8;
    --text-color:#615e5e;
=======
    --primary-secondary-color:#15a599f7;
    --text-color:#464040;
>>>>>>> 84b25a90b55fe4ddc52ce269ef9ef7dd775d9188
    --bg-white:white;
    --sidebar-left-width:350px;
    --text-color:black;
}
/* background-color */
.bg-color-green-opacity{
    background-color: #15a599f7;
}
/* color */
.color-white{
    color: white;
}

.color-seconndary{
    color: var(--secondary-color);
}
*{
    margin: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 16px;
}

.element-list{
    list-style: none;
    padding-left: 0;
}
.href-a{
    text-decoration: none;
    color: var(--text-color);
    
}
.href-a:hover{
    cursor: pointer;
 
    color: #fff;
}
/* button styles */
.btn{
    padding: 8px 24px;
    width: 150px;
    box-sizing: border-box;
    
}
.btn:hover{
    cursor: pointer;
    opacity: 75%;
    
}
.btn-auto{
    padding: 8px 24px;
    box-sizing: border-box;
    border: 1px solid var(--primary-secondary-color);
    border-radius: 4px;
}
.btn-auto:hover{
    color: #fff;
    cursor: pointer;
    opacity: 75%;
    background-color: var(--primary-secondary-color);
    
}
.btn-out-line{
    background: #15a599f7;
    width: 150px;
    padding: 8px 24px;
    
}
.btn-none-out-line{
    min-width: 100px;
    box-sizing: border-box;
    border: none;
    padding: 8px 24px;
    border-color: var(--primary-color);
}
.btn-small{
    width: auto;
    height: auto;
    border: 1px solid red;
}
.btn-nav-input-check{
    padding: 8px 24px;
    width: 155px;
    box-sizing: border-box;
    
}
.btn-nav-input-check:hover{
    cursor: pointer;
    opacity: 75%;
    
}
.label-input:hover{
    cursor: pointer;
}
ul{
    list-style: none;
    padding-left: 0;
}

li{

}
/* ANIMATION */

/* hover underline */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
    font-family: sans-serif;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }