:root{
    --primary-color:#fff;
    --secondary-color:#15a599;
    --secondary-color-blur:#b7e3df;
    --secondary-color-button-no-hover:#e7faf8;
    --text-color:#615e5e;
    --primary-secondary-color:#15a599f7;
    --text-color:#464040;
    --bg-white:white;
    --sidebar-left-width:350px;
    --text-color:black;
    --color-danger:rgb(250, 74, 74);
}
/* background-color */
.bg-color-green-opacity{
    background-color: #15a599f7;
}
.bg-color-white{
    background-color: var(--bg-white);
}
.bg-color-secondary-color{
    background-color: var(--secondary-color);
}
.bg-color-secondary-color-blur{
    background-color: var(--secondary-color-blur);
}
/* color */
.color-white{
    color: white;
}

.color-seconndary{
    color: var(--secondary-color);
}
.color-danger{
    color:var(--color-danger);
}
.color-text{
    color:var(--text-color)
}
*{
    margin: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 16px;
}

.element-list{
    list-style: none;
    padding-left: 0;
}
.href-a{
    text-decoration: none;
    color: var(--text-color);
    
}
.href-a:hover{
    cursor: pointer;
 
    color: #fff;
}
/* button styles */
.btn{
    padding: 8px 24px;
    width: 150px;
    box-sizing: border-box;
    
}
.btn:hover{
    cursor: pointer;
    opacity: 75%;
    
}
.btn-auto{
    padding: 8px 24px;
    box-sizing: border-box;
    border: 1px solid var(--primary-secondary-color);
    border-radius: 4px;
}
.btn-auto:hover{
    color: #fff;
    cursor: pointer;
    opacity: 75%;
    background-color: var(--primary-secondary-color);
    
}
.btn-out-line{
    background: #15a599f7;
    width: 150px;
    padding: 8px 24px;
    
}
.btn-none-out-line{
    min-width: 100px;
    box-sizing: border-box;
    border: none;
    padding: 8px 24px;
    border-color: var(--primary-color);
}
.btn-small{
    width: auto;
    height: auto;
    border: 1px solid red;
}
.btn-nav-input-check{
    padding: 8px 24px;
    width: 155px;
    box-sizing: border-box;
    
}
.btn-nav-input-check:hover{
    cursor: pointer;
    opacity: 75%;
    
}
.label-input:hover{
    cursor: pointer;
}
ul{
    list-style: none;
    padding-left: 0;
}

li{

}
/* ANIMATION */

/* hover underline */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
    font-family: sans-serif;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* Block Style Start */
.flex{
    display: flex !important;
}
.block{
    display: block !important;
}
.b-box{
    padding: 8px;
    width: 100%;
    border-radius: 5px;
}
.hidden{
    display: none !important;
}
.flex-inline{
    display: inline-flex !important;
}
.f-column{
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.f-row{
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.f-center{
    align-items: center;  
    justify-content: center;
}
/* Block Style End */

/* Font Style Start */
.text-sm{
    font-size: 12px;
}
.text-md{
    font-size: 16px;
}
.text-lg{
    font-size: 22px;
}
.text-xl{
    font-size: 25px;
}
.text-xxl{
    font-size: 30px;
}
.text-xxxl{
    font-size: 35px;
}
/* Font Style End */