.b-hidden{
    display: none !important;
}
.element-list{
    list-style: none;
    padding-left: 0;
}
.href-a{
    text-decoration: none;
    color: var(--text-color);
    
}
.btn{
    padding: 8px 24px;
    border-radius: 6px;
}
.btn:hover{
    cursor: pointer;
    opacity: 50%;
    
}
.btn-out-line{
    background: transparent;
    padding: 8px 24px;
    color: var(--text-color);
}
.btn-none-out-line{
    border: none;
    padding: 8px 24px;
    color: var(--text-color);
    border-color: var(--primary-color);
}
ul{
    list-style: none;
    padding-left: 0;
}

/* LOADING WEB ANIMATION */
.page__loading--animation{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--bg-white);
    display: flex;
    align-items: center;  
    justify-content: center;
    z-index: 10;
}
.page__loading--background{
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}
.page_loading--cloudy{
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframe animateCloud{
    0%{
       5 
    }
}
